.container {
    background-color: rgb(25, 111, 176);
    color: white;
    
}

.product{
    padding: 5px;
    border: 2px solid white;
    
}

.product-list {
    list-style: none;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: blue;
    border:2px solid white;
}